@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

html {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  font-family: 'Roboto mono';
  background-color: black;
}

.titulo {
  animation-duration: 3s;
  animation-name: slidein;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

@media (min-width: 769px) {
  .container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
}

.campo-foto-1 {
  animation-duration: 3s;
  animation-name: slidein;
  margin: 20px;
  border: 1px white solid;
  max-width: 400px;
  max-height: 500px;
}

.campo-foto-1 > img {
  width: 400px;
  height: 500px;
}

.container-texto {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
    
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
